body {
    background-color: #f5D2AA;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.home-img-link {
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 20px;
}

.messages {
    margin: 12px;
    background-color: #2f4c72;
    text-align: justify;
    padding: 30px;
    font-size: 19px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.logo h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
}

.logo a {
    color: #2f4c72;
    text-decoration: none;
}

.sentences {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #2f4c72;
    font-weight: 600;
    margin-left: 15px;
}

.main-page-links {
    height: 100%;
}

/* social media */

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f4c72;
    height: 100%;
    margin-right: 30px;
}

.social-links {
    margin: 0 10px;
    width: 95%;
    height: 100%;
    min-height: 120px;
}

@media screen and (max-width: 768px) {
    .social-links {
        margin: 20px;
    }
}

/*  OFFER */
.offer-header {
    margin: 15px;
    padding: 30px;
    height: 100px;
    background-color: #ee5a32;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-header:hover {
    background-color: #cc4a21;
}

.offer-header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
}

.offer-description {
    min-height: 200px;
}

.offer-img {
    margin: 15px;
    padding: 30px;
    height: 90%;
    
}

/* CONTACT */

.contact-img {
    margin: 0;
    height: 100%;
    width: 100%;
}

.contact-message {
    width: 100%;
    min-height: 300px;
}

.stopka {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.jumpers img{
    width: 100%;
    height: auto;
}

/* TEAM  */


.person {
    width: 270px;
    height: 390px;
    border-radius: 20px;
    margin: 35px;
}

.person-description {
    margin: 5px 10px 65px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #2f4c72;
}

.team-logo {
    font-size: 55px;
    text-align: center;
    margin-top: 5px;
}

.team-logo a {
    color: #2f4c72;
    text-decoration: none;
}


